@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-animate";


@theme  {
  --font-comfortaa: "Comfortaa", "sans-serif";
  --font-kanit: "Kanit", "sans-serif";

  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);

  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);

  --color-tertiary: var(--tertiary);
  --color-tertiary-light: var(--tertiary-light);
  --color-tertiary-dark: var(--tertiary-dark);

  --color-offWhite: var(--offWhite);
  --color-offWhite-light: var(--offWhite-light);
  --color-offWhite-dark: var(--offWhite-dark);

  --color-offBlack: var(--offBlack);
  --color-offBlack-light: var(--offBlack-light);
  --color-offBlack-dark: var(--offBlack-dark);

  --color-menuForeground: var(--menuForeground);
  --color-hoverColor: var(--hoverColor);
}

@layer base {
  :root {
    /* Cores base */
    --background: #e6e1d3;
    --foreground: #1a1a1a80;

    --primary: #649ee4;
    --secondary: #17187b;
    --tertiary: #87ceeb;
    --offWhite: #e6e1d3;
    --offBlack: #00000080;


    /* Cores claras */
    --background-light: #f4f1e6; 
    --primary-light: #a4c6f9; 
    --secondary-light: #4a4ca6; 
    --tertiary-light: #c4e3f7; 
    --offWhite-light: #f4f1e6; 
    --offBlack-light: #1a1a1a80;

    /* Cores escuras */
    --background-dark: #c1b99f; 
    --primary-dark: #406cc1; 
    --secondary-dark: #0e0f48; 
    --tertiary-dark: #5a9fd4; 
    --offWhite-dark: #c1b99f; 
    --offBlack-dark: #00000099;

    --menuForeground: #c1b99f30;
    --hoverColor: #d0c6a170;
  }

  .dark {
    --background: #1a1a1a80;
    --foreground: #e6e1d3;

    --menuForeground: #00000030;
    --hoverColor: #00000099;

  }

  body {
    @apply bg-background text-foreground font-comfortaa; 
  }

}
